.b-map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.b-map-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.b-map-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}

.b-map-failed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}
